.box {
margin: auto;
width: 200px;
height: 200px;
background: hotpink;
rotate: 45deg;
animation-name: example; 
animation-duration: 500ms;
animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes example {
  from {rotate: 0deg; background-color:hotpink;}
  to {rotate: 180deg; background-color:lightblue;}
}




body {
 
 margin: auto;
  background-color:grey;	
	animation-name: bodyCol; 
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;  
}
@keyframes bodyCol {
 from {background-color:lightYellow;}
  to {background-color:lightGreen;}
}
table {
border: 2px solid lightBlue;
border-radius:30px;

}
header {
text-align:center;
}
h1 {
  color: navy;
  margin-left: 20px;
}
ol:hover {
color:hotpink;
border:50px dotted red:
}
p {
  border-type:solid;
  color: red;
}
a:hover { 
  text-transform:uppercase;
  color:blue;
  border:2px solid blue;
	
}

button { 
width:200px;
height:100px;
border: 2px solid lightBlue;
border-radius: 30px;
background-color:lightBlue;
box-shadow: 5px 5px 5px teal;
animation-name:buttonCol;
animation-duration: 5000ms;
animation-iteration-count:infinite;
animation-direction:alternate;
}

@keyframes buttonCol {
  from {background-color:lightBlue;}
  to {background-color:lightGreen;}
}
button:active {
 background-color: lightGreen;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
@keyframes buttonAct {
from(transform: scale(0.5);)
to(transform: scale(1.5);)
}


button:hover {
animation-name:buttonHover;
animation-duration: 1500ms;
animation-iteration-count:infinite;
animation-direction:alternate;
}
@keyframes buttonHover {
0% {rotate:0;background-color:lightBlue;}
50% {rotate:-3deg;}
100% {rotate:3deg;lightGreen}
}
div {
width:300px;
margin:auto;
}
.divs {
width:200px;
background-color:seaGreen;
border: 2px solid white;
margin: auto;
}
a {
  color:navy;
  border-style:solid;
  }
img {
  /*outline: 1px solid transparent;*/
 /* border-image:radial-gradient(red,yellow);*/
  /*border-style:solid;*/
  outline-style:groove;
  outline-color:blue;
  outline-width:10px;
  border-image-slice: 1;
  padding: 0px;
  width:1000px;
  height:400px;
}
