
table {
margin:auto;
width:50px;
}
.hero {
padding:0px;
}
header.hero{
background-color:tomato;
height:400px;
display:flex;
justify-content:center;
}

.body {
  background-color:grey;	
	animation-name: bodyCol; 
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;  
}
@keyframes bodyCol {
 from {background-color:lightYellow;}
  to {background-color:lightGreen;}
}
table {
border: 2px solid lightBlue;
border-radius:30px;

}
header {
text-align:center;
}
h1 {
  color: navy;
  margin-left: 20px;
}
ol:hover {
color:hotpink;
border:50px dotted red:
}
p {
  font-family:arial;
  color: black;
}
a:hover { 
  text-transform:uppercase;
  color:blue;
  border:2px solid blue;
	
}
.bdivs {
background-color:#C0C0C0;
width:800px;
content-align:center;
padding:15px;
border: 5px solid gray;
border-radius: 20px;
/*box-shadow: 5px 5px 5px #C0C0C0;*/
height:1400px;
margin:auto;
display:flex;
justify-content:center;
}
.sticky {
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
width: 800px;
margin:auto;
}
.topbar { 
width:155px;
height:100px;
border: 5px solid lightblue;
border-radius: 20px;
background-color:lightBlue;
box-shadow: 5px 5px 5px teal;
margin-bottom:10px;
animation-name:buttonCol;
animation-duration: 5000ms;
animation-iteration-count:infinite;
animation-direction:alternate;
}
footer {

border: 5px solid gray;
border-radius: 20px;
text-align:center;
width:800px;
background-color:#c0c0c0;
margin:10px 100px 10px 570px;
}
@keyframes buttonCol {
  from {background-color:lightBlue;}
  to {background-color:lightGreen;}
}
.topbar:active {
 background-color: lightGreen;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
@keyframes buttonAct {
from(transform: scale(0.5);)
to(transform: scale(1.5);)
}


.topbar:hover {
animation-name:buttonHover;
animation-duration: 1500ms;
animation-iteration-count:infinite;
animation-direction:alternate;
}
@keyframes buttonHover {
0% {rotate:0;background-color:lightBlue;}
50% {rotate:-3deg;}
100% {rotate:3deg;lightGreen}
}
.divs {
width:200px;
border: 2px solid white;
border-radius:30px;
margin: auto;
}
a {
  color:navy;
  border-style:solid;
  }
img {
  /*outline: 1px solid transparent;*/
 /* border-image:radial-gradient(red,yellow);*/
  /*border-style:solid;*/
  outline-style:groove;
  outline-color:blue;
  outline-width:10px;
  border-image-slice: 1;
  padding: 0px;
  width:1000px;
  height:400px;
}
