body {
    margin: 0;
}

header {
    height: 50px;

}
.img {
    position: relative;
    height: 250px;
    width: 770px;
}
.side-img img {
    width: 500px;
    height: 500px;
    float:left;
    margin: 5px;
}
.wrap p{
    text-align: justify;
    font-size: 25px;
}
.row {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: left;
}
.row-i {
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: center;
}
.img h1 {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 20px;
    width: 100%;
    height: 26px;
    padding: 0;
    margin: 0;
    margin-top: -13px;
    text-align: center;
    color:beige;
    /*background: red;
    background: rgba(170, 0, 0, 0.8); */
}
.img img {
    z-index: 1;
    width: 240%;
    height: 240%;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:green
}
.wrapper {
    background-color:beige;
}